@model IEnumerable<Library.Models.Offer>
@{
    ViewBag.Title = "Home Page";
}
<table border="1">
    <tr>
        <td>
            @foreach (var offer in Model)
            {
                if (offer != null)
                { // а offer.Book.Name не работает и кидает эксепшен какой-то. Не null
                    <b>@offer.Title</b>
              
                }
                else
                {
                    <b>Нет жанров</b>
                }
            }
        </td>
    </tr>
</table>

