<ul class="nav navbar-nav ">

    <li class="dropdown">
        <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
            Панель администратора
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
           
            <li class="dropdown-header">Работа с книгами</li>
                        <li><a href="/Admin/BookConfirm">Подтвердить добавление книг</a></li>
            <li><a href="#">Перейти к редактированию</a></li>
            <li class="dropdown-header">Работа с ролями</li>
            <li><a href="#">Панель редактирования ролей</a></li>
        </ul>

    </li>
</ul>